@model NegociosElectronicosII.Models.LoginModel
@{
    ViewBag.Title = "RecoveryPass";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    .field-validation-error {
        color: white !important;
    }

    .btn {
        width: 150px;
        height: 40px;
        position: center;
    }

    .card {
        background-color: rgb(174, 214, 241 ) !important;
        height:430px;
        width:400px;
    }
</style>

<div class="card">
    <div class="card-header">
            <a href="@Url.Action("Index","Principal")" style="width:100px" class="float-right btn btn-outline-primary mt-1">@Recursos.Regresar</a>
        
        <h4 style="color:black">Recuperar Contraseña</h4>
    </div>
    <div class="card-body">
        <p style="text-align:justify">Escribe la dirección de correo electrónico asociado a tu cuenta de Vocho.Net</p>
        @*<div class="input-group form-group">
                <div class="wrap-input100 validate-input m-b-10" data-validate="Email Requerido">
                    <input id="email" class="form-control" type="text" name="username" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="card-footer">
                <div class="container-login100-form-btn p-t-10">
                    <button class="form-control id="btnStartSession"> Recuperar contraseña</button>
                </div>

                <div class="text-center w-full p-t-25 p-b-230">
                    <a href="@Url.Action("Index","Login")" class="txt1">
                        Regresar al Login
                    </a>
                </div>
            </div>
        </div>*@
        <div class="card-body">

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input id="email" class="form-control" type="text" name="username" placeholder="Ingresa tu Email">
            </div>
            <br />

            <div class="form-group">
                <input type="submit" id="btnStartSession" value="Continuar" class="btn float-right login_btn">
            </div>
            <br />
        </div>
        <div class="card-footer">
            
            <p style="text-align:justify">Si tienes problemas con tu cuenta de Vocho.net puedes mandar un correo a soldvocho.net@gmail.com</p>
        </div>
    </div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#btnStartSession').click(function () {

            if ($('#email').val() == "" || $('#email').val() == undefined || $('#email').val() == null) {
                alert('Ingresa el Email');
                return false;
            }


            $.ajax({
                url: '@Url.Action("IsEmailValid", "Login")',
                data: { email: $('#email').val() },
                type: 'POST',
                success: function (response) {
                    //$.unblockUI();
                    alert(response.Message);

                    if (response.Success)
                        window.location.href = '@Url.Action("Index","Login")';
                },
                error: function () {
                    alert('A ocurrido un error');
                }
            });
        });
    });
</script>

