@model IEnumerable<NegociosElectronicosII.Models.NE_Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Recursos.User</h2>

<p>
    @Html.ActionLink(Recursos.Register, "Create")
</p>


<table class="table dt">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
                @Html.DisplayNameFor(model=>model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NE_Rol.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NE_Sexo.Sexo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoPaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoMaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoElectronico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NE_Rol.Rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NE_Sexo.Sexo)
                </td>
                <td>
                    @Html.ActionLink(Recursos.Edit, "Edit", new { id=item.UsuarioId }) |
                    @Html.ActionLink(Recursos.Details, "Details", new { id=item.UsuarioId }) |
                    @Html.ActionLink(Recursos.Delete, "Delete", new { id=item.UsuarioId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    @if(!String.IsNullOrEmpty(ViewBag.Message))
    {
        @:alert('@ViewBag.Message');
    }
</script>