
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" id="GananciasMensuales">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" id="GananciasAnuales">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" id="VehiculosVendidos">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" id="ArticulosVendidos">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div>

</div>
<br />
<div class="row">

    <div class="col-md-6" id="UsuariosFiltrosPrincipal">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div><!-- col // -->

    <div class="col-md-6" id="UsuariosConMasVentasDiv">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div><!-- col // -->

   
</div> <!-- row.// -->
<br />
<div class="row">
    <div class="col-md-7" id="VentasAnuales">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div>

    <div class="col-md-5" id="LoMasVendido">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">

        <div class="card" id="LosMasBuscados">
            <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
        </div>

        <br />

        @*<div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        Primary
                        <div class="text-white-50 small">#4e73df</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        Success
                        <div class="text-white-50 small">#1cc88a</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-info text-white shadow">
                    <div class="card-body">
                        Info
                        <div class="text-white-50 small">#36b9cc</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-warning text-white shadow">
                    <div class="card-body">
                        Warning
                        <div class="text-white-50 small">#f6c23e</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                        Danger
                        <div class="text-white-50 small">#e74a3b</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-secondary text-white shadow">
                    <div class="card-body">
                        Secondary
                        <div class="text-white-50 small">#858796</div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>

    <div class="col-md-6">

        <div class="card">
            <div class="card-header">
                Acerca de los clientes
            </div>
            <div class="card-body" id="ClientesParcial">
                <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
            </div>
        </div>  <!-- card.// -->

        <br />

    </div>
</div>
<br /><br />

<script type="text/javascript">

    $(document).ready(function () {
        $('#GananciasMensuales').load('@Url.Action("GananciaMensualParcial", "Estadistica")');
        $('#GananciasAnuales').load('@Url.Action("GananciaAnualParcial", "Estadistica")');
        $('#VehiculosVendidos').load('@Url.Action("VehiculosVendidosPartial", "Estadistica")');
        $('#ArticulosVendidos').load('@Url.Action("ArticulosVendidosPartial", "Estadistica")');
        $('#UsuariosFiltrosPrincipal').load('@Url.Action("FiltrosUsuariosParcial", "Estadistica")');
        $('#UsuariosConMasVentasDiv').load('@Url.Action("UsuariosConMasVentas", "Estadistica")');
        $('#VentasAnuales').load('@Url.Action("MostrarVentasAnuales", "Estadistica")');
        $('#LoMasVendido').load('@Url.Action("MostrarProductosMasVendidosAnuales", "Estadistica")');
        $('#LosMasBuscados').load('@Url.Action("LosMasBuscados", "Estadistica")');
        $('#ClientesParcial').load('@Url.Action("ClientesParcial", "Estadistica")');
    });


</script>