@model IEnumerable<NegociosElectronicosII.Models.NE_Category>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_ExampleLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a class="btn btn-success" href="@Url.Action("Create New", "Create")">Crear nuevo</a>
    @*@Html.ActionLink("Create New", "Create"})*@
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id_Category }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id_Category }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id_Category })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>