@model NegociosElectronicosII.Models.NE_FAQS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Recursos.Details</h2>

<div>
    <h4>@Recursos.Faqs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Respuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Respuesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Recursos.Edit, "Edit", new { id = Model.FAQId }) |
    @Html.ActionLink(Recursos.RegreList, "Index")
</p>
